body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}